# Aerospike Health Analyzer Exclusions
aerospike_health.db
*.log
*.tmp
.DS_Store

# Python Exclusions
__pycache__/
*.py[cod]
*.class
venv/
env/

# Quarto / Rendering Exclusions
.quarto/
*_files/
*_cache/

# Collectinfo Bundles
bundles/
*.tgz
*.tar
*.gz

/.quarto/
**/*.quarto_ipynb
